html
    body
        h1 courses
        p #{appname}
        //- form(action="/course" method="post")
        //-     input(type="text" name="id1")
        //-     input(type="submit")     
        form(method='post')  
            table.table.table(border='1')         
                tbody 
                    each course, index in courses
                        tr
                        td=course
                        td=nofstu[index]
                        //- button(action="/student",type='submit',onclick='something()',name='name1',value=index) register

                        button(action="/student?name="+#{name}+"&password=+"#{password},type='submit',onclick='something()',name='name1',value=index) register
                        //- button(type='submit',onclick='inc(nofstu[index])') register
                        //- script.
                        //-     function inc(a)
                        //-     {
                        //-         nofstu[index]=a+1;
                        //-         alert('test');
                        //-         console.log('something');
                        //-     }
                        //-     var something = function() {
                        //-         console.log('something');//this is not working
                                
                        //-         alert('test');
                        //-     }               
            button(action="/student?name=#{name}&password=#{password}",type='submit',onclick="alert('This button does nothing.')") Your profile
            //- button(action="/student",type='submit',onclick="alert('This button does nothing.')") Your profile
